Readings/lora-and-lorawan.pdf
article.aux
article.bbl
article.bcf
article.blg
article.fdb_latexmk
article.fls
article.log
article.run.xml
article.synctex.gz
Readings/MQTT-SN_spec_v1.2.pdf
Readings/mqtt-v5.0.pdf
Readings/L5 Infrastructures 1 Microcontrollers, sensors, system software.pdf
Readings/L6 Infrastructures 2 IoT networking protocols, hardware, infrastructure.pdf
Readings/L6 LoRa and LoRaWAN A Technical Overview.pdf
Readings/L7 Infrastructure 3 Application protocols.pdf
Readings/L7 MQTT-SN_spec_v1.2.pdf
Readings/L7 mqtt-v5.0.pdf
Readings/THE EUROPEAN TABLE OF FREQUENCY.pdf
Readings/Zhao_2021_J._Phys.__Conf._Ser._1802_022008.pdf
Readings/Zigbee Specification.pdf
article.synctex(busy)
article.bcf-SAVE-ERROR
article.bbl-SAVE-ERROR
